body {
    font-family: "Roboto", sans-serif ;
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #ffffff;
}

ul {
    list-style-type: none;
    color: #ffffff;
    display: flex;
    gap: 20px;
}

.header {
    background-color: #1f2937;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-weight: 800;
    color: #ffffff;
    display: flex;
}

.hero {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.left {
    width: 500px;
    margin: 0;
    padding: 0;
}

.grabber {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.explainer {
    color: #e5e7eb;
    font-size: 18px;
}

.signup {
    color: #e5e7eb;
    background-color: #3882f6;
    border: none;
    padding: 5px 15px 5px 15px;
    border-radius: 4px;
    margin-top: 5px;
}

.right {
    background-color: darkgrey;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    font-size: 36px;
    color: 1f2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.img {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}

.box {
    border: 2px;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
}

.subtext {
    width: 100px;
}

.c2 {
    width: 800px;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.inspire {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
}

.thor {
    display: flex;
    justify-content: flex-end;
}

.callblock {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.call {
    width: 800px;
    background-color: #3882f6;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 20px;
}

.callleft {
    display: flex;
    flex-direction: column;
}

.action {
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
}

.click {
    color: #ffffff;
}

.signup2 {
    color: #ffffff;
    border: 1px;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 5px;
    background-color: #3882f6;
    padding: 5px 15px 5px 15px;
}

.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}